
<div class=" center jumbotron">
    <div class="container-fluid">
        <h1> Bienvenido a tu escuela de inglés</h1>
    </div>
</div>
<section id="services" class="emerald">
    <div class="container">
        <h1>Hola</h1>
    </div>
    
</section>

