<div class=" center jumbotron">
    <h1> Bienvenido</h1>
    <%=link_to "Inicia sesión", "", class: "btn btn-lg btn-success"%>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="thumbnail">
            <img src="..." alt="...">

            <h2 class="midrow">Hola hola hola hola
            </h2>
            <h3 class="left"> Hola hola hola hola hola</h3>
            <p class="center">
                <%=link_to "Link 1", "", class: "btn btn-small btn-primary"%>
            </p>
        </div>

    </div>
    <div class="col-lg-4">
        <div class="thumbnail">
            <img src="..." alt="...">
            <h2 class="midrow">Hola hola hola hola
            </h2>
            <h3 class="left"> Hola hola hola hola hola</h3>
            <p class="center">
                <%=link_to "Link 1", "", class: "btn btn-small btn-primary"%>
            </p>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="thumbnail">
            <img src="..." alt="...">

            <h2 class="midrow">Hola hola hola hola
            </h2>
            <h3 class="left"> Hola hola hola hola hola</h3>
            <p class="center">
                <%=link_to "Link 1", "", class: "btn btn-small btn-primary"%>
            </p>
        </div>

    </div>
</div>