
<footer>
  <div id="footer-top" class="footer-top">
    <div class="container">
      <div class="row">
        <div id="tweet" class="tweet text-left">
          <div class="col-xs-4 about-tweet">
            <span class="tweet-icon"><i class="fa fa-twitter"></i></span>
            <span class="tweet-author">John Doe</span>
            <p class="tweet-details">
              Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis eupulvinar nuncint
            </p><!-- /.tweet-details -->
            <time datetime="PT2H">2 Hours Ago</time>
          </div>
          <div class="col-xs-4 about-tweet">
            <span class="tweet-icon"><i class="fa fa-twitter"></i></span>
            <span class="tweet-author">John Doe</span>
            <p class="tweet-details">
              Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis eupulvinar nuncint
            </p><!-- /.tweet-details -->
            <time datetime="PT2H">2 Hours Ago</time>
          </div>
          <div class="col-xs-4 about-tweet">
            <span class="tweet-icon"><i class="fa fa-twitter"></i></span>
            <span class="tweet-author">John Doe</span>
            <p class="tweet-details">
              Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis eupulvinar nuncint
            </p><!-- /.tweet-details -->
            <time datetime="PT2H">2 Hours Ago</time>
          </div>
        </div><!-- /#tweet -->
      </div><!-- /.row -->
    </div><!-- /.container -->
        <p>&copy; Escuela 2015</p>

  </div><!-- /#footer-top -->